/Debug
/local_Test
/Release
/BBGen
/Beecounter
/test_example
.cproject
.project
.settings
/GridFittingTest/
/DataGenerator/
/ManualGridFitter/
/test/config.h
/testing/
/Data/
test/testdata/grid_fitter
